@import url('https://fonts.googleapis.com/css?family=Overpass+Mono');
body{
 background-color:#000000;
 color: #FFFFFF;
 font-family: 'Overpass Mono', monospace;
}

.seperator{
       -webkit-animation: color-change 25s infinite;
       -moz-animation: color-change 25s infinite;
       -o-animation: color-change 25s infinite;
       -ms-animation: color-change 25s infinite;
       animation: color-change 25s infinite;
   }

   @-webkit-keyframes color-change {
       0% { color: #ff92c4; }
       50% { color: #361800; }
       100% { color: #f2e8a8; }
   }
   @-moz-keyframes color-change {
          0% { color: #ff92c4; }
       50% { color: #361800; }
       100% { color: #f2e8a8; }
   }
   @-ms-keyframes color-change {
         0% { color: #ff92c4; }
       50% { color: #361800; }
       100% { color: #f2e8a8; }
   }
   @-o-keyframes color-change {
       0% { color: red; }
       50% { color: blue; }
       100% { color: red; }
   }
   @keyframes color-change {
        0% { color: #ff92c4; }
       50% { color: #361800; }
       100% { color: #f2e8a8; }
   }
#kawaii-kitty{
 height: 170px;
}
#main-heading{
 font-size:35px;
}

#donut{
 height:75px;
}
#log{
color:#FFFFFF;
}

#cloud{
 width: 150px;

}
#clear-div{
 text-align: center;
 opacity: 0.65;
}
#line-number{
 color:#4891b6;
 margin-right: 10px;
 font-weight:900;
}
